<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>品牌联盟</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" href="../css/style.css" />
	</head>

	<body id="app" style="margin: 0;max-width: 100%;">
		<header class="mui-bar mui-bar-nav noShadow personalCenter-header">
			<h1 class="mui-title text-white">我的</h1>
			<span class="mui-icon iconfont icon-m-ag mui-pull-right text-white btn-set" @tap="toSetting"></span>
		</header>

		<div id="mui-content" class="mui-content personalCenter" style="padding-bottom: 0px;">
			<div class="personalCenter-header-bg"></div>
			<div class="header-panel" style="min-height: 125px;">
				<div class="header-panel__head">
					<img style="background-color: white;" v-if="user" :src="user.HeadImageUrl" >
				</div>
				<div class="tag-phone" v-if="user">
					<a v-if="user.Salesman" @tap="dial(user.SalesmanTEL)" class="tag-phone-item">
						用户名：13714226728
						<i class="iconfont icon-m-n"></i>
					</a>
				</div>

				<div class="header-panel__body flexbox" v-if="user">
					<div class="flexbox-item">
						<p class="mgb-0 text-red text-bold">￥ 1487.92</p>
						<p>余额</p>
					</div>
					<div class="flexbox-item">
						<p class="mgb-0 text-red text-bold">￥ 14.92</p>
						<p>佣金</p>
					</div>
				</div>
			</div>
			
			<!-- 我的工具 -->
			<div class="panel my-tools" v-if="user">
				<div class="panel__title flexbox beforeline">
					<div class="panel-title__text">我的工具</div>
				</div>
				<div class="panel__body flexbox">
					<div class="link-item" @tap="toFunction('suggest/suggest.order.html')">
						<div class="link-item-bgblock bgblock-1"></div>
						我的账单
					</div>
					<div class="link-item" @tap="toFunction('saleorder/saleorder.list.html')">
						<div class="link-item-bgblock bgblock-2"></div>
						全部订单
					</div>
					<div class="link-item" @tap="toFunction('refundbill/custom.refundbill.html')">
						<div class="link-item-bgblock bgblock-3"></div>
						订单下载
					</div>
				</div>
			</div>

		</div>
		
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="home.html">
				<span class="mui-icon mui-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="message.html">
				<span class="mui-icon mui-icon-phone"></span>
				<span class="mui-tab-label">下单中心</span>
			</a>
			<a class="mui-tab-item" href="setting.html">
				<span class="mui-icon mui-icon-email"></span>
				<span class="mui-tab-label">订单中心</span>
			</a>
			<a class="mui-tab-item" href="setting.html">
				<span class="mui-icon mui-icon-contact"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
	</body>

</html>
